@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sacramento');
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sacramento', cursive;
}
video {
  width: 0;
  height: 0;
}
canvas {
  position: absolute;
}

.avatar-blur {
  animation: image_blur 3s ease 0s infinite;
  -webkit-animation: image_blur 3s ease 0s infinite;
  -moz-animation: image_blur 3s ease 0s infinite;
}

.tooltip:focus,
.tooltip:focus::after,
.tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%, -0.2rem);
}
#wrapper {
  display: flex;
}

#expression-pending {
  font-size: 2em;
  text-align: center;
}
#expression-txt {
  font-size: 4em;
}
#chipContainer {
  transform: rotateZ(90deg);
  position: absolute;
  margin-left: -100px;
  margin-top: 55px;
  display: flex;
}
#status {
font-size:1.3em;
}
.chip {
  font-size: 1.5em;
  border-radius: 0;
  height: 30px;
}
.gender-chip,
.age-chip {
  flex: 1;
  font-size: 3.2em;
  height: 30px;
}
.age-chip {
}
.gender-chip {
}
.loading {
  position: absolute;
  margin-left: 10px;
  margin-top: 1px;
}
.loading:after {
  animation: loading 0.5s infinite linear;
  border: 0.1rem solid rgba(0, 0, 0, 0.95);
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: '';
  display: block;
  height: 0.8rem;
  left: 50%;
  margin-left: -0.4rem;
  margin-top: -0.4rem;
  position: absolute;
  top: 50%;
  width: 0.8rem;
  z-index: 1;
}
.avatar-lamp {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #e8e8e8;
  border-radius: 90px;
}
@keyframes image_blur {
  0%,
  90% {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
  }
  50% {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
  }
}
